<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="librarySystem.dao.BookDao">
    <resultMap id="baseResultMap" type="librarySystem.domain.Book">
        <id column="bookNO" property="bookNO" jdbcType="VARCHAR"/>
        <result column="bookName" property="bookName" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="press" property="press" jdbcType="VARCHAR"/>
        <result column="pressYear" property="pressYear" jdbcType="VARCHAR"/>
        <result column="translator" property="translator" jdbcType="VARCHAR"/>
        <result column="book_desc" property="bookDesc" jdbcType="VARCHAR"/>
        <result column="page_num" property="pageNum"/>
        <result column="book_image" property="bookImage" jdbcType="VARCHAR"/>
        <result column="book_type" property="bookType" jdbcType="VARCHAR"/>
        <result column="cnum" property="cnum" jdbcType="CHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="searchNum" property="searchNum" jdbcType="INTEGER"/>
        <result column="borrowNum" property="borrowNum" jdbcType="INTEGER"/>
        <result column="score" property="score" jdbcType="VARCHAR"/>
        <result column="storeNumber" property="storeNumber" jdbcType="VARCHAR"/>
        <result column="borrowNumber" property="borrowNumber" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllBooks" resultMap="baseResultMap">
        SELECT * FROM book
    </select>

    <select id="findBooksByName" resultMap="baseResultMap">
        SELECT * FROM book where bookName LIKE CONCAT('%',#{searchWords},'%')
    </select>

    <select id="findBooksByNameAndType" resultMap="baseResultMap">
        select * from book where bookName LIKE CONCAT('%',#{searchWords},'%') and book_type = #{type}
    </select>

    <select id="findBooksByAuthor" resultMap="baseResultMap">
        SELECT * FROM book where author LIKE CONCAT('%',#{searchWords},'%')
    </select>

    <select id="findBooksByAuthorAndType" resultMap="baseResultMap">
        select * from book where author LIKE CONCAT('%',#{searchWords},'%') and book_type = #{type}
    </select>

    <select id="findBooksByNO" resultMap="baseResultMap">
        SELECT * FROM book where bookNO LIKE CONCAT('%',#{searchWords},'%')
    </select>

    <select id="findBooksByNOAndType" resultMap="baseResultMap">
        select * from book where bookNO LIKE CONCAT('%',#{searchWords},'%') and book_type = #{type}
    </select>

    <select id="findBooksByPress" resultMap="baseResultMap">
        SELECT * FROM book where press LIKE CONCAT('%',#{searchWords},'%')
    </select>

    <select id="findBooksByPressAndType" resultMap="baseResultMap">
        select * from book where press LIKE CONCAT('%',#{searchWords},'%') and book_type = #{type}
    </select>

    <select id="findBorrowNumAndOrder" resultMap="baseResultMap">
        select * from book order by borrowNum DESC
    </select>

    <select id="findSearchNumAndOrder" resultMap="baseResultMap">
        select * from book order by searchNum DESC
    </select>
</mapper>