<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="librarySystem.dao.StudentAndBorrowDao">
    <resultMap id="baseResultMap" type="librarySystem.domain.Student_Borrow">
        <id column="bookNO" property="bookNO" jdbcType="VARCHAR"/>
        <result column="sno" property="sno" jdbcType="VARCHAR"/>
        <result column="borrowDate" property="borrowDate" jdbcType="DATE"/>
        <result column="returnDate" property="returnDate" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>